@import "tailwindcss";
@source "./src"; /* Or wherever your component folder is */

body {
  background-color: #000;
  color: #fff;
}

#root {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Force the React Grid Layout container to stretch so drops are registered */
.react-grid-layout {
  min-height: 600px !important;
  min-width: 100%;
}